.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh; /* Adjust height as needed */
  }

  .signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f0f0f0; /* Example background color */
    padding: 20px;
    border-radius: 8px;
    width: 460px; /* Example width */
  }

  .signup-form input[type="text"],
  .signup-form input[type="password"],
    .signup-form input[type="date"] {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
  }

  .signup-form button {
    width: 150px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 1px rgb(78, 78, 78);
    cursor: pointer;
  }

  .signup-form button:hover {
    background-color: #ffffff;
    border-color: #2c7aee;
    background-color: #2c7aee; /* Change to your desired hover background color */
    color: #ffffff;
  }

  .signup-form h2{
    margin-bottom: 20px;
  }

  .signup-container a{
    color: #06c;
  }