/* .pop-up-main-container{
    height: 200px;
}

.tournament-main-container {
    display: flex;
    flex-direction: column;
    width:1200px;
}

.tournament-main-container input{
    width: 300px;
} */

/* .dialog-box{
    width: 1000px;
    height: 400px;
} */